
html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
}
.container {
    display:grid;
    grid-template-columns: 90%, 10%;
    grid-template-rows: 20% 86% 4%;
    font-size: 18px;
    color: #2D3748;
    font-family: 'Segoe UI', Roboto, "Helvetica Neue", Arial, "Noto Sans",sans-serif;
    
}

.container header{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #63B3ED;
    color: #FFFF;
    grid-row: 1;
    grid-column: span 2;

    

}

.container aside {
    grid-column: 2;
    grid-row: 2;
    padding: 16px
    
}

.container main{
    grid-column: 1;
    grid-row: 2;
    padding: 16px;
}

.container footer {
    grid-row: 3;
    grid-column: span 2;
    background: #2C5282;
    padding-left: 20px;
    color: #FFFF;
}



.container h1{
    margin-bottom: 3px;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.container h2{
    font-size: 32px;
    color: #48BB78 ;

}

.container header p{
    margin-top: 3px;
    margin-bottom: 20px;
}

#Header {
    border-radius: 50%;
    width: 150px;
    height: auto;
    padding-top: 10px;
    


}

#article1{
    width: 200px;
    height: auto;
    float: right;
    padding-left: 10px;
    

}

#article2{
    width: 200px;
    height: auto;
    float: left;
    padding-right: 10px;
    

}


.date{
    color: #718096;
}

.container ul{
    color: #4299E1;
}

#about h3{
   color: #000000; 
}

#about{
    background: #E2E8F0;
    padding-left:10px ;
    padding-right: 10px;
    padding-top:5px ;
    padding-bottom: 5px;
    
}

#about, #social, #archive h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#social, #archive{
    color: #48BB78;
}

